// @import "./styles/example.scss";

// #root {
//     color: rgb(255, 68, 0);
//     // border: 1ch solid black;
//     // background-color: #000;
// }

img {
    position: center;
}

img:hover {
    transform: scale(5.1);
}

h1 > img:hover {
    transform: scale(1.1);
}

body {
    background-color: black;
}

li {
    color: white;
}

@import url('./styles/li.scss');